// this start from the fieldset right through the textarea or input or else
// refer to input/textarea/checkbox/etc individually to style each of dem
.frm_style_formidable-style.with_frm_style fieldset {
	$your_custom_class {
		margin-bottom: 5px;
		input,
		textarea {
			height: 45px;
			border-color: $grey;
			padding:15px;
			margin-bottom: 5px;
			border-radius: 0;
			&:focus {
				border-color: $black !important;
				box-shadow: none !important;
			}
		}
	}
}

// customize button
.frm_style_formidable-style.with_frm_style input[type=submit], .frm_style_formidable-style.with_frm_style .frm_submit input[type=button], .frm_form_submit_style, .frm_style_formidable-style.with_frm_style.frm_login_form input[type=submit] {
	border: 2px solid $black;
	background: transparent;
	color: $black;
	padding: 10px 30px;
	border-radius: 0;
	&:hover {
		border: 2px solid $black;
		background: $black;
		color: $white;
	}
}