//font families
$heading_font : somethin;
$heading_font_secondary : somethin;
$heading_font_tertiary : somethin;

$heading_weight : somethin;

// -------------------
// headings template
// use @extend to use this
%heading {
	font: {
			family: $heading_font;
			weight: $heading_weight;
		}
	&:hover {

	}
}