//font families
$heading-font : somethin;
$heading-font-secondary : somethin;
$heading-font-tertiary : somethin;

$heading-weight : somethin;

// -------------------
// headings template
// use @extend to use this
%heading {
	font: {
			family: $heading-font;
			weight: $heading-weight;
		}
	&:hover {
		content: '';
		position: absolute;
	}
}