// -----------------------
// add .img-full to your single image element to make it full width
// .img-full .vc_single_image-wrapper {
%full-img {	
	width: 100%;
	img {
		width: 100%;
	}
}
.img-full {
  .wpb_wrapper,
  .vc_single_image-wrapper,
  img {
    width: 100%;
  }
}